<div class='video_area relative'>
    <img src='<%=etdk.g._IMG_%>read_video_bg.jpg' />
    <div id='video' class='absolute'></div>
</div>
<div class='read_intro_world'>
    <div style='height:22%;'></div>
    <h3> 让孩子们在快乐中阅读、在阅读中成长！</h3>
    <div class='world_desc'>
        读酷儿童图书馆阅读计划是参考美国教育部和德国教育部推行的儿童阅读能力标准制定的，沿用了美国CCS-Lexile的体系理论，基于美国CSS标准对美国学生幼儿园直到12年级的阅读能力进行的规定和要求，结合美国、德国等西方国家的儿童阅读积分制度，并根据中国孩子的实际阅读情况进行细致调整后制定的最适合中国孩子的阅读计划。
    </div>
</div>
<div class='advertise_img_area'>
    <img src='<%=etdk.g._IMG_%>read_ad_online.png' />
</div>
<div class='read_intro_area'>
    <img src='<%=etdk.g._IMG_%>read_intro.png' />
</div>