<div class='loginContainer'>
	<div class='login_bg relative'>
		<div class='login_content relative'>
			<div class='login-input login-input_username'>
				<input class='login-username' type='text' placeholder='请输入邮箱账号'/>
			</div> 
			<div class='login-input login-input_password'>
				<input class='login-password' type='password' placeholder='请输入密码'/>
			</div>
            <div class='login-input login-input_password2'>
                <input type='password' class='re_password' placeholder='请再次输入密码'/>
            </div>
            <div class='login-input find_account'>
                <input class='find_user_account' type='text' placeholder='请输入您的注册邮箱'>
            </div>
			<div class='find-password'>忘记密码</div>
		</div>
		<div class='login-other relative'>
            <div class='register-prompt'>使用邮箱注册的用户,可能会导致某些功能无法使用</div>
            <strong class='login-weibo pointer'>
			   微博登录
			</strong>
			<strong class='login-qq  pointer'>
				QQ登录
			</strong>
		</div>
        <div class='login_btn'>
            <div class='login_btn_reg login_btn_common pointer relative'></div>
            <div class='login_btn_close login_btn_common pointer relative'></div>
            <div class='login_btn_login login_btn_common pointer relative'></div>
            <div class='login_btn_cancel login_btn_common pointer relative'></div>
            <div class='login_btn_commit login_btn_common pointer relative'></div>
        </div>
        <div class='warning absolute'></div>
	</div>

</div>
	



