@font-face {
    font-family: "ziti";
    src: url("/fonts/ziti.eot"); /* IE9 */
    src: url("/fonts/ziti.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/ziti.woff") format("woff"), /* chrome, firefox */
    url("/fonts/ziti.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("/fonts/ziti.svg#ziti") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


