@charset "utf-8";
body{ background:#f2f2f2;}
.box{width:100%; overflow-y:scroll; margin-top:170px;}
/*.box{width:100%; overflow-y:scroll; margin-top:50px;}*/
.main{width:996px; padding-left:45px;}
.bookMain{padding:55px 45px 0;}
.bookMain .header h2{color:#4831ee; background:url(../images/icons6.gif?gedecache=1) 0 center no-repeat #f2f2f2;}
.header{ height:54px; padding-right:32px; background:url(../images/line.gif) 0 45px repeat-x;}
.header span{font-size:24px; color:#808080; padding:0 10px; background:#f2f2f2; margin-top:20px;}
.header h2{font-size:50px;line-height:54px; padding:0 25px 0 76px; font-weight:normal;}

.title{width:209px; height:98px; background:url(../images/titleBg1.png) center center no-repeat; line-height:98px; text-align:center; font-size:48px; color:#333;}
.title:nth-of-type(1){ position:absolute; left:45px; top:150px;}
.ulWrap{width:996px; overflow:hidden; padding-top:30px;}
.ulWrap li{width:316px; height:260px; float:left; margin-right:18px; text-align:center; line-height:121px;font-family: "楷体"; font-size: 90px;}
.ulWrap li .imgWrap{width:312px; height:188px; background:url(../images/gushiBg.png) center center no-repeat; padding:4px 2px;}
.ulWrap li p{ line-height:60px; text-align:center; font-size:24px; color:#333;}
ul li:nth-of-type(3n){ margin-right:0;}
ul:nth-of-type(1){padding-top:0;}

.operation{width:100%; height:168px; position:fixed; left:0; bottom:0; background:url(../images/shadowhaizi.png) center top no-repeat;}
.help{width:72px; height:72px; position:absolute; left:155px; bottom:20px; text-align:center; color:#999;}
.help p{ line-height:24px; font-size:24px;}
/*朝代分类*/
.chaoDaiClassify{border-left: 1px solid #808080;bottom: 20px;height: 80px;left: 240px;position: absolute;z-index: 8;}
.chaoDaiClassify ul{ overflow:hidden; padding-left:160px;}
.chaoDaiClassify li{ float:left;}
.chaoDaiClassify li.cur a {color: #0462e3;}
.chaoDaiClassify li a {color: #666;float: left;height: 80px;line-height: 80px;text-align: center;width: 240px; font-size:24px;}
.videoPup2{width:1050px; height:870px; border:1px solid #b3b3b3;margin:0 auto; background:#3d3d3d; position:absolute; top:50%; left:50%; display:none; z-index:888;}
.videoPup2 h2{ font-size:30px; text-align:center; padding:0 20px; overflow:hidden; color:#b3b3b3; height:70px; line-height:70px; background:#000;}
.videoPup2 .hztitle{ font-size:60px; text-align:center; padding:0 20px; overflow:hidden; color:#b3b3b3; height:70px; line-height:70px; background:#000;font-family:"楷体";}
.videoPup2 .return{font-size:26px; background:url(../images/icons12.png?gedecache=1) 0 center no-repeat; margin-left:20px; padding-left:30px; color:#FFF; height:70px; line-height:70px; position:absolute; left:0; top:0; display:inline-block;}
.videoShow2{ height:900px; overflow:hidden;}
#videoShow{width:100%; height:900px; position:absolute; left:0; top:70px; z-index:990;}
#videoShowWrap .loading{width:100%; height:700px; background:url(../images/loading.gif) center center no-repeat;position:absolute; left:0; top:70px; z-index:889;}
/*朝代分类*/

.maskLayer{width:100%;height:100%;filter:alpha(opacity=40);opacity:0.5;background:#000;position:absolute;z-index:88;top:0;left:0;display:none;}
.closePub{width:45px; height:46px; position:absolute; right:-1px; top:-1px;}

.shaixuan{width:121px; overflow:hidden; position:absolute; right:40px; bottom:190px; text-align:center;}
.shaixuan .btn{width:121px; height:55px; font-size:30px; color:#fff; background:url(../images/btn.png) center center no-repeat; line-height:62px;}
.shaixuan ul{width:119px; height:auto; overflow:hidden; background:#fff; border:1px solid #e0e0e0; border-radius:4px; -moz-border-radius:4px; display:none;}
.shaixuan ul li{height:60px; line-height:60px; font-size:36px; color:#676767;}
.shaixuan ul li.cur{color: #0462e3; transition:color 1s; -moz-transition:color 1s; -webkit-transition:color 1s; -o-transition:color 1s;}