<div class='whatduku_intro_img_bg absolute'></div>
<div class='whatduku_intro_img'>
    <img src='<%=etdk.g._IMG_%>whatduku_title_img.png'/>
</div>
<div class='whatduku_intro1 section relative'>
    <div class='s1_t relative'>
        <img class='absolute s1_child' src='<%=etdk.g._IMG_%>s1_child.png'/>
        <img class='absolute intro_title_bg' src='<%=etdk.g._IMG_%>intro_title_bg.png'/>
       <div class='s1_t_word absolute'>读酷儿童图书馆,一个让孩子爱上阅读的地方!</div>
    </div>
    <img class='absolute s1_two_trees' src='<%=etdk.g._IMG_%>s1_two_trees.png'/>
    <img class='absolute pyramid' src='<%=etdk.g._IMG_%>pyramid.png'/>
    <img class='absolute pyramid_tree' src='<%=etdk.g._IMG_%>pyramid_tree.png'/>

    <div class='s1_chapter chapter absolute'>
        读酷儿童图书馆,是专门针对0-12岁儿童研发的教育软件产品,是在国内外众多儿童教育专家的共同努力下,经由北京应用时代教育咨询有限公司应用航母平台研发而成,旨在通过科学的互动游戏、经典有趣的读物,精选的百科知识等激发孩子的想象力,创造力,开发孩子的全面认知能力及左右脑思维分析能力,对孩子的生活和教育产生积极的影响。<br/>
    </div>
</div>
<div class='whatduku_intro2 section relative'>
    <div class='s2_t relative'>
        <img class='absolute sun_cloud1' src='<%=etdk.g._IMG_%>sun_cloud.png'/>
        <img class='absolute sun_cloud2' src='<%=etdk.g._IMG_%>sun_cloud.png'/>
        <img class='absolute s2_child' src='<%=etdk.g._IMG_%>s2_child.png'/>
        <img class='absolute intro_title_bg' src='<%=etdk.g._IMG_%>intro_title_bg.png'/>
        <div class='s2_t_word absolute'>我们能给孩子什么?</div>
    </div>
    <img class='absolute s2_intro_circle' src='<%=etdk.g._IMG_%>s2_intro_circle.png'/>
</div>
<div class='whatduku_intro3 section relative'>
    <div class='place_float'></div>
    <div class='s3_t relative'>
        <img class='absolute sun_cloud1' src='<%=etdk.g._IMG_%>sun_cloud.png'/>
        <img class='absolute sun_cloud2' src='<%=etdk.g._IMG_%>sun_cloud.png'/>
        <img class='absolute s3_child' src='<%=etdk.g._IMG_%>s3_child.png'/>
        <img class='absolute intro_title_bg' src='<%=etdk.g._IMG_%>intro_title_bg.png'/>
        <div class='s3_t_word absolute'>图书馆里的每一本书都经过了慎重挑选!</div>
    </div>
    <!--img class='absolute s3_ellipse' src='<%=etdk.g._IMG_%>s3_ellipse.png'/-->
    <img class='absolute s3_pyramid' src='<%=etdk.g._IMG_%>s3_pyramid.png'/>
    <div class='s3_chapter chapter absolute'>
        在美国,至少有几百家机构专门从事每&nbsp;月定期推荐童书书单的制作,这些书单制定的方式包括:书商做的新书推荐、
        报刊书评家撰文推荐,孩子投票选择、老师投票选择、图书馆推荐、阅读协会推荐等等。
        在中国这一块存在比较大的缺失,&nbsp;所以,孩子读什么书更需要精心甄选。读酷儿童图书馆挑选图书的时候遵循三大原则&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/>
            ①符合孩子的年龄：基于分级阅读理论,不让孩子觉得书是深奥难懂的,&nbsp;宁可推荐难度低,读起来相对容易的书,也不推荐文字多,&nbsp;图画少,让孩子看着就觉得枯燥乏味的书。<br/><br/>
            ②尊重孩子的兴趣：不臆测孩子的喜欢,根据孩子不同的兴趣来选择合适的书,尤其是幼儿,根据孩子喜欢玩什么来选择,增加孩子的发散思维，培养孩子的个性。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/>
            ③尤其注重童书的品质。我们在与国内各大优秀出版社合作的同时,还引进了众多全球顶级出版社的最新原版图书,包括意大利威齐、西班牙积累、德国MTM、意大利艺术与成长、意大利瓦伦蒂娜等多家出版集团（社）&nbsp;出版的原版图书,这些图书长期居于欧美儿童教育机构推荐阅读书排&nbsp;行榜前列。不仅如此,我们还重金邀请法国儿&nbsp;童图书专家根据中国孩子的实际情况,
            量身打造了符合孩子天性的图书套系,非常适合孩子阅读。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div class='chapter_expand absolute'><span>......</span>
        <img rel='3' attr='collect' class='s_details' src='<%=etdk.g._IMG_%>s_details.png'/>
    </div>
</div>
<div class='whatduku_intro4 section relative'>
    <div class='place_float'></div>
    <div class='s4_t relative'>
        <img class='absolute sun_cloud1' src='<%=etdk.g._IMG_%>sun_cloud.png'/>
        <img class='absolute sun_cloud2' src='<%=etdk.g._IMG_%>sun_cloud.png'/>
        <img class='absolute s4_child' src='<%=etdk.g._IMG_%>s4_child.png'/>
        <img class='absolute intro_title_bg' src='<%=etdk.g._IMG_%>intro_title_bg.png'/>
        <div class='s4_t_word absolute'> 移动交互式阅读更适合孩子！</div>
    </div>
    <img class='absolute s4_two_trees' src='<%=etdk.g._IMG_%>s4_two_trees.png'/>
    <div class='s4_chapter chapter absolute'>
        “孩子们开始对传统的阅读模式感到厌倦”。进入移动互联网时代后，现在的孩子对于阅读资源的选择比以前更为挑剔。美国学者安德鲁的一份研究报告表明，美国孩子现在对传统的阅读模式缺乏兴趣。
        这种变化不是由于孩子们不再专注于阅读了,而是因为移动互联网时代的到来，让信息的获取更加迅速，信息渠道也更加泛滥，密集的知识轰炸让孩子对于传统的阅读方式产生了厌倦；移动互联网更多的个性标签，更多的个人定制，也让传统阅读模式在如今特立独行的孩子们眼中变得缺乏吸引力；而且各种超酷的手持移动设备，如智能手机，平板等，对孩子有极大的，天然的吸引力。
        因此，随着手机平板移动上网逐渐取代电脑上网，手机支付逐渐取代网络支付这些人类生活习惯的改变，阅读领域的改变也在深刻而不可逆转地发生.那就是移动交互式阅读模式必将取代传统的阅读模式,哈什曼在就预言了这一社会必然趋势.
        这种移动交互式阅读的优势在于：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br/><br/>1.能够通过人机对话和交互功能设置，通过点击操作来完成交互。孩子们伴随阅读的探索过程，轻轻划动手指就能全部实现。更有助于孩子们深度阅读，有效阅读。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br/><br/>2.通过分析服务器后台用户行为习惯数据，能够有针对性的对孩子的阅读提出问题，能够有针对性的为孩子选择最适合他阅读的读本。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br/><br/>3.能让孩子从视觉上参与阅读过程。让孩子通过触觉，听觉参与阅读过程，能够加倍深化阅读效果。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br/><br/>4.数字产品的更新，生产周期要比传统阅读产品的生产周期短的多。所以移动交互式阅读模式能够做到把最新，最时效的知识呈现给孩子们。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br/><br/>5.能够更有效的利用孩子的时间，让他们在玩耍的同时能学到知识。移动设备阅读能够有效的利用孩子的碎片化时间，提供的多层级的丰富多彩的阅读环境，能够寓教于乐，让孩子们轻松玩耍，愉快阅读。
        读酷儿童图书馆的设计正是这种最新的移动交互式阅读模式。所有读本都是互动式读本。能够让孩子们体会到移动交互式阅读模式的乐趣。馆藏的所有书籍都是在苹果appstore单品上架，质量和内容接受过appstore官方审核，并接受过国外小读者质量审核的读本。所有读本采用探索式设计，交互内容穿插全文，游戏式的学习内容设置，让孩子们更加不容易疲倦，奖励式的测试设计，让孩子们更有成就感解决测试难的问题，便于家长监控孩子的阅读学习过程。
        所有读本甚至可以定制后台阅读数据发送，让老师和家长能够同步追踪孩子阅读。优秀的孩子们通过申请开放平台，获得跟同龄，同城的孩子们进行阅读比赛的机会，极大增加阅读的积极性。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    </div>
    <div class='chapter_expand absolute'><span>......</span>
        <img rel='4' attr='collect' class='s_details' src='<%=etdk.g._IMG_%>s_details.png'/>
    </div>
</div>
<div class='whatduku_intro5 section relative'>
    <div class='place_float'></div>
    <div class='s5_t relative'>
        <img class='absolute sun_cloud1' src='<%=etdk.g._IMG_%>sun_cloud.png'/>
        <img class='absolute sun_cloud2' src='<%=etdk.g._IMG_%>sun_cloud.png'/>
        <img class='absolute s5_child' src='<%=etdk.g._IMG_%>s5_child.png'/>
        <img class='absolute intro_title_bg' src='<%=etdk.g._IMG_%>intro_title_bg.png'/>
        <div class='s5_t_word absolute'> 提供最及时最优质的更新！</div>
    </div>
    <img class='absolute s5_one_tree1' src='<%=etdk.g._IMG_%>s5_one_tree.png'/>
    <img class='absolute s5_one_tree2' src='<%=etdk.g._IMG_%>s5_one_tree.png'/>
    <img class='absolute s5_two_trees1' src='<%=etdk.g._IMG_%>s5_two_trees.png'/>
    <img class='absolute s5_two_trees2' src='<%=etdk.g._IMG_%>s5_two_trees.png'/>
    <!--img class='absolute s5_right_ellipse' src='<%=etdk.g._IMG_%>s5_right_ellipse.png'/>
    <img class='absolute s5_left_ellipse' src='<%=etdk.g._IMG_%>s5_left_ellipse.png'/-->
    <div class='s5_chapter chapter absolute'>
        读酷儿童图书馆拥有海量的优质交互式图书,图书研发部门正在与全世界的教育专家研发最优质的童书,经过各级评估后,再及时制作更新,确保第一时间为每位爸爸妈妈和孩子提供优质好书。
    </div>
    <!--div class='chapter_expand absolute'><span>......</span>
        <img rel='5' attr='collect' class='s_details' src='<%=etdk.g._IMG_%>s_details.png'/>
    </div-->
</div>

