body {
  background: url('/Public/imgs/library_bg.png') repeat;
}
#container {
  min-height: 800px;
}
#header {
  position: relative;
  z-index: 20;
}
.header_bg {
  z-index: 20;
}
.library_btn {
  background: url('/Public/imgs/word3_pointer.png') no-repeat;
}
.library_btn a {
  color: black;
}
.roof_bg {
  width: 80%;
  z-index: 15;
  top: 80px;
  left: 10%;
}
.roof_bg img {
  width: 100%;
  height: 168%;
}
.header_nav_girl {
  left: 60%;
}
#libBook {
  width: 70%;
  margin-left: 15%;
}
.r_left_b,
.r_ringht_b {
  width: 7.4%;
  background-color: #FA6E6F;
  vertical-align: top;
}
.r_left_b {
  border-left: 3px solid #650B18;
}
.r_ringht_b {
  border-right: 3px solid #650B18;
}
.r_b_c {
  width: 84.2%;
  vertical-align: top;
  background: url('/Public/imgs/r_b_c.png') repeat;
}
.avatars {
  width: 94%;
  margin-left: 3%;
  z-index: 5;
}
.avatars img {
  width: 70%;
  height: 88%;
  position: absolute;
  left: 15%;
  bottom: 0;
}
.avatars_bg {
  width: 17%;
  height: 86%;
  text-align: center;
  position: absolute;
  opacity: 0.5;
  bottom: 0;
}
.jierui_area {
  left: 34%;
}
.huiben_area {
  left: 17%;
}
.sleep_story_area {
  left: 28%;
}
.masterwork_area {
  left: 50.5%;
}
.cartoon_area {
  left: 67%;
}
.iso_area {
  left: 0;
}
.free_area {
  left: 83%;
}
.ie7 .avatars_bg {
  filter: alpha(opacity=50);
}
.ie8 .avatars_bg img {
  filter: alpha(opacity=50);
}
.ie8 .avatars_bg img:hover,
.ie8 .select_state img {
  filter: alpha(opacity=100);
}
.ie78 .select_state {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/Public/imgs/area_bg.png', sizingMethod='scale');
}
.noie78 .avatars_bg:hover {
  opacity: 1;
}
.select_state {
  bottom: -4px;
}
.select_state img {
  bottom: 5px;
}
.noie78 .select_state {
  background: url('/Public/imgs/area_bg.png') no-repeat;
  background-size: 100% 100%;
  opacity: 1;
}
.r_books_bg {
  width: 94%;
  margin-left: 3%;
  background-color: white;
  margin-bottom: 80px;
  border: 4px solid #F66C6C;
}
.noie78 .r_books_bg {
  border-radius: 20px;
  margin-left: 2.3%;
}
.r_books {
  width: 91.6%;
  margin-left: 4.2%;
}
/*
.ie78 .r_books_bg{
  .filter('r_books_pink_bg.png');
}

.r_booksie_bg_top{
  left:1.5%;
  width:97%;
  border-top:5px solid #F66C6C;
  top:0;

}

.r_booksie_bg_bottom{
  left:1.5%;
  width:97%;
  border-bottom:5px solid #F66C6C;
  bottom:0;
}

*/
.load_more {
  height: 40px;
  width: 91.6%;
  margin-left: 4.2%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 3px;
}
.noie78 .load_more {
  background-color: #FF6666;
  border-radius: 12px;
}
.ie78 .load_more {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/Public/imgs/load_more_dashed.png', sizingMethod='scale');
  padding-top: 0;
}
.load_more_dashed {
  height: 34px;
  width: 98%;
  line-height: 34px;
  font-size: 1.6em;
  color: white;
  font-weight: bold;
  text-align: center;
}
.ie78 .load_more_dashed {
  margin-top: 4px;
  position: relative;
}
.noie78 .load_more_dashed {
  margin-left: 1%;
  border: 1px dashed white;
  border-radius: 12px;
}
.list_img {
  width: 30%;
  vertical-align: top;
  margin-top: 30px;
  margin-right: 1.666%;
  margin-left: 1.666%;
}
.ie78 .list_img {
  margin-right: 1.55%;
  margin-left: 1.55%;
}
.noie78 .book_cover {
  border-radius: 5px;
  border: 1px dashed #8C8C8C;
}
.ie78 .book_cover {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/Public/imgs/book_dashed_bg.png', sizingMethod='scale');
}
.book_cover {
  width: 100%;
  height: 100%;
}
.list_img a img {
  width: 96%;
  margin-left: 2%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}
.ie78 .list_img a img {
  margin-top: 2%;
  margin-bottom: 2.5%;
}
.footer_big_cloud {
  top: -250%;
  width: 101px;
  height: 60px;
  left: 15%;
}
.giraffe {
  width: 118px;
  height: 242px;
  bottom: 90px;
  margin-left: -26px;
}
.giraffe img {
  width: 100%;
  height: 100%;
}
.new_status {
  width: 40px;
  height: 39px;
  left: -7%;
  top: -7%;
}
.new_status img {
  width: 40px;
  height: 39px;
}
.preloader {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
