.header_nav_girl {
  left: 82%;
}
#container {
  margin-top: 80px;
  margin-bottom: 50px;
}
.ie7 #container {
  padding-top: 80px;
}
body {
  background-color: #FFAD33;
}
#whatduku {
  width: 100%;
}
.what_duku_btn {
  background: url('/Public/imgs/word6_pointer.png') no-repeat;
}
.what_duku_btn a {
  color: black;
}
.whatduku_intro_img img {
  width: 100%;
  height: 100%;
}
.whatduku_intro_img {
  width: 100%;
}
.whatduku_intro_img_bg {
  width: 100%;
  z-index: -1;
  left: 0;
  top: 80px;
  background-color: #66C5EE;
}
.section {
  width: 100%;
}
.whatduku_intro1 {
  height: 440px;
}
.pyramid_tree {
  right: 7%;
  top: 50px;
}
.s1_two_trees {
  right: 15%;
  top: 200px;
}
.pyramid {
  left: 20%;
}
.chapter {
  width: 435px;
  left: 50%;
  margin-left: -217.5px;
  height: 140px;
  font-size: 1.7em;
  text-indent: 2em;
  color: white;
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
  line-height: 1.6em;
  text-align: justify;
  text-justify: distribute-all-lines;
  /*ie6-8*/
  text-align-last: left;
  -moz-text-align-last: left;
  /*ff*/
  -webkit-text-align-last: left;
  /*chrome 20+*/
  /*
  text-justify:inter-ideograph;
  */
}
.s1_t,
.s2_t,
.s3_t,
.s4_t,
.s5_t {
  height: 160px;
  left: 50%;
  margin-left: -217.5px;
  width: 435px;
}
.s1_child,
.s2_child,
.s3_child,
.s4_child,
.s5_child {
  left: 171px;
}
.s3_child {
  top: 13px;
}
.s5_child {
  top: 16px;
}
.s3_pyramid {
  right: 5%;
  top: 40px;
}
.s3_ellipse {
  top: 160px;
  left: 0;
}
.s_details {
  cursor: pointer;
  margin-top: 3px;
  vertical-align: bottom;
  margin-left: 10px;
}
.s_details:hover {
  position: relative;
  left: -1px;
  top: 1px;
}
.s1_t_word,
.s2_t_word,
.s3_t_word,
.s4_t_word,
.s5_t_word {
  height: 40px;
  width: 435px;
  left: 0;
  top: 92px;
  line-height: 40px;
  font-size: 1.8em;
  text-align: center;
  font-weight: bold;
  color: #219570;
}
.sun_cloud1 {
  left: 75px;
  top: -38px;
  z-index: 5;
}
.sun_cloud2 {
  left: 322px;
  top: -38px;
  z-index: 5;
}
.place_float {
  width: 100%;
  height: 40px;
}
.s2_intro_circle {
  width: 100%;
  margin-top: 50px;
}
.whatduku_intro2 {
  height: 360px;
  margin-bottom: 150px;
}
.whatduku_intro3 {
  height: 340px;
  overflow-y: hidden;
}
.whatduku_intro4 {
  height: 340px;
  overflow-y: hidden;
}
.s4_two_trees {
  top: 40px;
  left: 10%;
}
.whatduku_intro5 {
  height: 380px;
  overflow-y: hidden;
}
.intro_title_bg {
  width: 435px;
  height: 147px;
}
.chapter_expand {
  width: 435px;
  height: 60px;
  left: 50%;
  bottom: 0;
  background-color: #FFAD33;
  z-index: 5;
  margin-left: -217.5px;
  font-size: 1.4em;
  color: white;
}
.s5_right_ellipse {
  right: 0;
  top: 0;
}
.s5_left_ellipse {
  left: 0;
  top: 200px;
}
.s5_one_tree1 {
  top: 50px;
  left: 5%;
}
.s5_one_tree2 {
  right: 20%;
  top: 200px;
}
.s5_two_trees1 {
  top: 50px;
  left: 15%;
}
.s5_two_trees2 {
  right: 10%;
  top: 200px;
}
