@charset "utf-8";
/*header 样式 start */
body{background: url("../images/bodyBg.jpg") no-repeat top center;}
#loading{position: absolute;top: 50%;left: 50%;margin-left: -64px;margin-top: -64px;}
.header{height: 70px;width: 1775px;overflow: hidden;margin: 0 auto;margin-top: 30px;position: relative;}
.header h1{float: left;background: url("../images/icon_laba.png") no-repeat left 5px;height: 60px;line-height: 60px;padding-left: 70px;color: #0462e3;font-size: 50px;font-weight: normal;}
.header h3{position:absolute;right: 50px;text-align:center;top: 28px;width: 170px;height: 40px;line-height: 40px;font-size: 24px;color: #808080;background: #f2f2f2;font-weight: normal; }
.header hr{width: 1485px;float: right;height: 1px;border-top: none;  border-left: 0px;border-bottom: 1px solid #808080;margin-top: 50px}
.wrapCon{overflow: hidden;width: 1920px;}
.wrapCon .main{height: 830px;margin: 0 auto;width: 100%;overflow: hidden;}
.cnt{overflow: hidden;width: 94%;margin: 0 auto;}
.pageload-overlay {  position: fixed;  width: 100%;  height: 100%;  top: 0;  left: 0;  visibility: hidden;  z-index:1000;  }
.pageload-overlay.show {  visibility: visible;  }
.pageload-overlay svg {  position: absolute;  top: 0;  left: 0;  pointer-events: none;  }
.pageload-overlay svg path {  fill: #fff;  }
.pageload-overlay::after, .pageload-overlay::before {  content: '';  position: fixed;  width: 40px;  height: 40px;  top: 50%;  left: 50%;  margin: -10px 0 0 -10px;  border-radius: 50%;
    visibility: hidden;  opacity: 0;  z-index: 1000;  -webkit-transition: opacity 0.15s, visibility 0s 0.15s;  transition: opacity 0.15s, visibility 0s 0.15s;  }
.pageload-overlay::after {  background: #6cc88a;  -webkit-transform: translateX(-30px);  transform: translateX(-30px);  -webkit-animation: moveRight 0.4s linear infinite alternate;  animation: moveRight 0.4s linear infinite alternate;  }
.pageload-overlay::before {  background: #4fc3f7;  -webkit-transform: translateX(30px);  transform: translateX(30px);  -webkit-animation: moveLeft 0.4s linear infinite alternate;
    animation: moveLeft 0.4s linear infinite alternate;  }
.box h3 {  font-size: 24px;  margin: 0;  padding: 10px 0;font-family: "宋体";  }
.box h3 span {  color: #74726f;  display: block;  font-size: 11px;  font-weight: 300;  letter-spacing: 2px;  text-transform: uppercase;  }
@-webkit-keyframes moveRight { to { -webkit-transform: translateX(30px); } }
@keyframes moveRight { to { transform: translateX(30px); } }
@-webkit-keyframes moveLeft { to { -webkit-transform: translateX(-30px); } }
@keyframes moveLeft { to { transform: translateX(-30px); } }
.pageload-loading.pageload-overlay::after,
.pageload-loading.pageload-overlay::before {  opacity: 1;  visibility: visible;  -webkit-transition: opacity 0.3s;  transition: opacity 0.3s;  }
::-webkit-scrollbar{width:14px;}
::-webkit-scrollbar-track-piece{background-color:#999;-webkit-border-radius:4px;}
::-webkit-scrollbar-thumb{background-color:#f0f0e2; border:solid 1px #c0c0c0;border-radius:4px;}
/*header 样式 end*/
/*swier-slide 样式 start*/
.pagination{position: fixed;}
.wrapSlide{width: 1775px;margin: 0 auto; height:810px;}
.box {
    background: none repeat scroll 0 0 ;  cursor: pointer;  float: left;  overflow: hidden;
    position: relative;   font-size: 14px; border-right: 1px solid #0347a6;}
.box img{display:block;background-size: contain;}
.boxRight{border-right: none;}
.box1 {
    background: none repeat scroll 0 0 #fff;  cursor: pointer;  float: left;  overflow: hidden;
    position: relative;  border-top: 1px solid #c6c6c6;  font-size: 14px;  }
.bot-line{border-bottom: 1px solid #0347a6;margin: 20px auto;height: 1px;width: 94%;}
.box-b-l { border-left: 2px solid #c6c6c6  }
.box-b-r {  border-right: 2px solid #c6c6c6  }
.w-33 {  width: 33.2%  }
.w-66 {  width: 65.8%  }
.w-40 {  width: 39.8%  }
.w-60 {  width: 59.8%  }
.w-100 {  width: 100%  }
.h-33 {  height: 33.2%  }
.h-40 {  height: 39.8%  }
.h-50 {  height: 49.8%  }
.h-60 {  height: 59.8%  }
.h-100 {  height: 100%  }
.swiper1 .swiper-slide{  height: 810px;overflow: hidden; }
/*swiper-slide 样式 end*/

/*nav 样式 start*/
.nav{width: 1274px;height: 98px;  background: url("../images/navBg.png") no-repeat left center;float: left;overflow: hidden;margin-left: 350px;margin-top: 30px;}
.nav .swiper-nav{overflow: hidden; margin-left: 20px;margin-right: 10px; width: 1224px;  }
.nav li {  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  list-style: none;  float: left;  width: 148px;  height: 85px;
    line-height: 90px;  font-size: 30px;  text-align: center;    cursor: pointer;  font-family: "微软雅黑";  }
.nav li.children {  width: 78px;  }
.nav li.selected {  color: #0462e3; }
.nav li:hover{  color: #0462e3; }
/*nav 样式 end*/

/*detail 样式start*/
.detail {  position: fixed;  background-color: #fff;  z-index: 999;  top: 0px;  left: 0px;  width: 100%;  height:100%;  overflow: auto;  display: none;  zoom:1.5;  }
.detail .close.heavy::before, .close.heavy::after {  height: 12px;  margin-top: -6px;  }
.detail .close::before {  transform: rotate(45deg);  }
.detail .close::before, .close::after {  background: #000 none repeat scroll 0 0;  content: "";  height: 2px;  left: 0;  margin-top: -1px;
    position: absolute;  top: 50%;  width: 100%;  }
.detail .close.heavy::before, .close.heavy::after {  height: 12px;  margin-top: -6px;  }
.detail .close::after {  transform: rotate(-45deg);  }
.detail .close::before, .close::after {  background: #000 none repeat scroll 0 0;  content: "";  height: 2px;  left: 0;
    margin-top: -1px;  position: absolute;  top: 50%;  width: 100%;  }
.detail .close {  display: inline-block;  height: 50px;  overflow: hidden;  position: fixed;  width: 50px;  top: 5px;  right: 14px;  }
.detail >.content {  width: 70%;  margin: 0 auto;  }
.detail >.content {  width: 70%;  margin: 0 auto;  }
.detail >.content img{  margin: 0 auto; }
.refesh {  position: absolute;  left: 140px;cursor: pointer;  }
/*detail 样式end*/
